services:
  # Certs generation (Keep this if you are running on an Intranet/Private Network)
  # For public internet, I highly recommend using Certbot/LetsEncrypt instead.
  certs:
    image: alpine:3.20
    container_name: quickclock-certs
    working_dir: /work
    volumes:
      - ./certs:/work/certs
      - ./generate-ssl-certs.sh:/work/generate-ssl-certs.sh:ro
    environment:
      - SSL_KEYSTORE_PASSWORD=${SSL_KEYSTORE_PASSWORD:-changeit}
      - CERTS_DIR=/work/certs
    command:
      [
        "sh",
        "-c",
        "apk add --no-cache openssl && sh /work/generate-ssl-certs.sh",
      ]

  database:
    image: postgres:18.1-alpine3.23
    container_name: quickclock-db
    environment:
      - POSTGRES_DB=quickclock
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeit
    volumes:
      - db_data18:/var/lib/postgresql/data
    networks:
      - quickclock
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quickclock-backend
    depends_on:
      certs:
        condition: service_completed_successfully
    # No source code volumes needed in prod
    volumes:
      - ./certs:/certs:ro # Kept only if you need to read the public key for validation
    env_file:
      - ./backend/.env
      - ./.env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/quickclock
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=changeit
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      # SWITCHING TO HTTP INTERNAL
      - SERVER_PORT=8081
      - SERVER_SSL_ENABLED=false
      - SPRING_PROFILES_ACTIVE=prod

      # App env
      - FRONTEND_BASE_URL=https://localhost
      - COOKIE_SECURE=true
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ISSUER=${JWT_ISSUER:-QuickClock-API}
      - JWT_AUDIENCE=${JWT_AUDIENCE:-QuickClock-App}
    restart: always
    networks:
      - quickclock

  frontend:
    build:
      context: ./QuickClock-UI
      dockerfile: Dockerfile
    container_name: quickclock-frontend
    restart: always
    networks:
      - quickclock

  nginx:
    image: nginx:alpine
    container_name: quickclock-nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      - quickclock
    restart: always

volumes:
  db_data18:

networks:
  quickclock:
    driver: bridge
