<header class="flex items-center justify-between p-6 md:p-10">
    <div class="flex items-center gap-3">
        <div
            class="size-10 rounded-xl bg-primary/10 flex items-center justify-center"
        >
            <lucide-icon
                [img]="clock"
                class="text-primary size-5"
            ></lucide-icon>
        </div>
        <span class="text-sm font-medium text-muted-foreground">
            QuickClock
        </span>
    </div>
    <div class="flex items-center gap-2">
        <button
            type="button"
            (click)="switchTheme()"
            title="toggle-theme"
            class="btn btn-ghost"
        >
            <span
                class="relative inline-flex h-4 w-4 items-center justify-center overflow-hidden"
            >
                <!-- Sun -->
                <lucide-icon
                    [img]="sunMedium"
                    class="absolute size-5 transition-all duration-150 ease-in-out will-change-transform"
                    [class]="
                        currentTheme === 'dark-t'
                            ? 'opacity-0 -rotate-180 translate-y-3 scale-50'
                            : 'opacity-100 rotate-0 translate-y-0 scale-100'
                    "
                ></lucide-icon>

                <!-- Moon -->
                <lucide-icon
                    [img]="moon"
                    class="absolute size-5 transition-all duration-150 ease-in-out will-change-transform"
                    [class]="
                        currentTheme === 'dark-t'
                            ? 'opacity-100 rotate-0 translate-y-0 scale-100'
                            : 'opacity-0 rotate-180 -translate-y-3 scale-50'
                    "
                ></lucide-icon>
            </span>
        </button>
        <app-logout-button />
    </div>
</header>
