@import 'tailwindcss';

/* 1. Load the built-in themes */
@plugin "daisyui" {
    themes: corporate --default, business --prefersdark;
}

@plugin "daisyui/theme" {
    name: 'corporate';
    default: true;

    --color-primary: oklch(0.42 0.15 253);
    --color-primary-content: oklch(1 0 0);

    --color-secondary: oklch(0.93 0.01 200);
    --color-secondary-content: oklch(0.2 0 0);

    --color-info: oklch(0.65 0.12 235);
    --color-info-content: oklch(1 0 0);

    --color-error: oklch(0.577 0.245 27.325);
    --color-error-content: oklch(1 0 0);

    /* --color-base-100: oklch(0.98 0 0); */
}

@plugin "daisyui/theme" {
    name: 'business';
    default: false;

    --color-primary: oklch(0.65 0.15 253);
    --color-primary-content: oklch(0.15 0 0);

    --color-info: oklch(0.72 0.11 220);
    --color-info-content: oklch(0.15 0 0);

    --color-error: oklch(0.58 0.22 25);
    --color-error-content: oklch(0.95 0 0);
}

@layer base {
    * {
        font-family: 'Geist Variable', sans-serif;
    }

    body {
        background-color: var(--color-base-100);
        color: var(--color-base-content);
    }
}

/* Neutralize autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-base-content);
    transition: background-color 9999s ease-out, color 9999s ease-out;
    box-shadow: 0 0 0 1000px var(--color-base-100) inset;
}

@keyframes scan {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(200%);
    }
}

.animate-scan {
    animation: scan 2s linear infinite;
}
